<!DOCTYPE html>

<head>

    <title>WebDesign</title>

    <link rel="stylesheet" href="css/coursepage2.css">

    <link href='https://fonts.googleapis.com/css?family=Public Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>

    <!-- favicon
	================================================== -->
    <link rel="shortcut icon" href="favicon.jpg">
    <script src="https://kit.fontawesome.com/69c62f68f1.js" crossorigin="anonymous"></script>
    <script src="js/expand.js" defer></script>

</head>

<body>
    <!-- header
    ================================================== -->
    <header>

        <div class="row">

            <div class="header__wrapper">
                <div class="logo">
                    <div class="logo__circle">
                        SZ
                    </div>
                    <span class="logo__text">Spikizy</span>
                </div>

                <form class="searchform">
                    <input type="text" class="search" placeholder="What do want to learn?">
                    <button class="search__button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>

                <nav>

                    <ul id="nav" class="nav">
                        <li><a class="navlink" href="#hero">My Courses</a></li>
                        <li><a class="navlink" href="#courses">Purchaces</a></li>
                        <li><a class="navlink" href="#category">Help Center</a></li>
                    </ul>

                </nav>

            </div>
        </div>
    </header>

    <!-- coursepage hero
   ================================================== -->
    <section id="hero">

        <div class="row">

            <div class="hero__wrapper">
                <video controls>
                    <source src="video/mov_bbb.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>

                <div class="hero__details">
                    <div class="hero__title">
                        SWIFT FOR INTERTMEDIATE AND ADVANCED IOS DEVELOPERS
                        <span class="hero__text">
                            (10 modules, 34 lessons, 9 hours 30 mins)
                        </span>
                    </div>
                    <div class="container">
                        <button class="start">Start</button>
                        <div>
                            <div class="hero__stat">
                                <div class="hero__author">Gabatz Hachik</div>
                                <div class="hero__reviews">(10,687 reviews)</div>
                                <div class="hero__students">60 000 students</div>
                            </div>
                            <div class="hero__rating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- end row -->

    </section>

    <!-- main
   ================================================== -->

    <section id="main">

        <div class="row">

        </div> <!-- end row -->

    </section> <!-- end main -->

    <!-- course material
   ================================================== -->

    <section id="material">

        <div class="row">

            <h3>Lessons in the class</h3>

            <div class="graybox">

                <div class="card">
                    <button class="collapsible2">
                        <div class="Lesson">
                            <div>Lesson 1</div>
                            <div>Introduction</div>
                        </div>

                        <i class="fa-solid fa-chevron-down"></i>
                    </button>

                    <div class="data">
                        <div class="column">
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 1</p>
                                <span class="duration">34 min</span>
                            </div>
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 2</p>
                                <span class="duration">34 min</span>
                            </div>
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 3</p>
                                <span class="duration">34 min</span>
                            </div>
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 4</p>
                                <span class="duration">34 min</span>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card -->

                <div class="card">
                    <button class="collapsible2">
                        <div class="Lesson">
                            <div>Lesson 2</div>
                            <div>Data Preprocessing</div>
                        </div>

                        <i class="fa-solid fa-chevron-down"></i>
                    </button>

                    <div class="data">
                        <div class="column">
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 1</p>
                                <span class="duration">34 min</span>
                            </div>
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 2</p>
                                <span class="duration">34 min</span>
                            </div>
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 3</p>
                                <span class="duration">34 min</span>
                            </div>
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 4</p>
                                <span class="duration">34 min</span>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card -->

                <div class="card">
                    <button class="collapsible2">
                        <div class="Lesson">
                            <div>Lesson 3</div>
                            <div>Text Mining</div>
                        </div>

                        <i class="fa-solid fa-chevron-down"></i>
                    </button>


                    <div class="data">
                        <div class="column">
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 1</p>
                                <span class="duration">34 min</span>
                            </div>
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 2</p>
                                <span class="duration">34 min</span>
                            </div>
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 3</p>
                                <span class="duration">34 min</span>
                            </div>
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 4</p>
                                <span class="duration">34 min</span>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card -->

                <div class="card">
                    <button class="collapsible2">
                        <div class="Lesson">
                            <div>Lesson 4</div>
                            <div>Practice Projects</div>
                        </div>

                        <i class="fa-solid fa-chevron-down"></i>
                    </button>

                    <div class="data">
                        <div class="column">
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 1</p>
                                <span class="duration">34 min</span>
                            </div>
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 2</p>
                                <span class="duration">34 min</span>
                            </div>
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 3</p>
                                <span class="duration">34 min</span>
                            </div>
                            <div class="container">
                                <img src="Elements/play.png">
                                <p>Sub Lecture 4</p>
                                <span class="duration">34 min</span>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card -->

            </div> <!-- end graybox -->

        </div> <!-- end row -->

    </section> <!-- end material -->

    <!-- about
   ================================================== -->

    <section id="about">

        <div class="row">

            <div class="about__wrapper">
                <span class="about__head">About the class</span>
                <div class="about__data">
                    <div class="data__wrapper">

                    </div>
                    <div>The Macine learning basics program is
                        designed to offer a solid foundation & work-
                        ready skills for ML engineers. The Machine
                        learning basics program is designed to offer a
                        soli foundation & work-ready skills for ML
                        engineers.<br></div>
                    <div class="data">The Macine learning basics program is
                        designed to offer a solid foundation & work-
                        ready skills for ML engineers. The Machine
                        learning basics program is designed to offer a
                        soli foundation & work-ready skills for ML
                        engineers.<br></div>
                    <button class="collapsible"><span>See More</span> <i
                            class="fa-solid fa-chevron-down"></i></button><br>
                </div>

            </div>

        </div> <!-- end row -->

    </section> <!-- end main -->


    <!-- teachers
   ================================================== -->

    <section id="teachers">

        <div class="row">

            <h3>Meet your teacher</h3>
            <div class="bio">
                <div class="initials">Kim Taehyung <button class="start">Follow</button></div>
                <h4>Head of Data Science in BTS</h4>
                <div class="container">
                    <img src="Elements/image 10.png">
                    <div class="column">
                        <p><i class="fa-solid fa-star"></i></p>
                        <p><i class="fa-solid fa-medal"></i></p>
                        <p><i class="fa-solid fa-user-group"></i></p>
                        <p><i class="fa-solid fa-circle-play"></i></p>
                    </div>
                    <div class="column">
                        <p>4,9 rating</p>
                        <p>968 968 feedbacks</p>
                        <p>3 103 951 students</p>
                        <p>57 courses</p>
                    </div>
                </div> <!-- end container -->

                <div class="teacher__info">

                    <div>Kim Taehyung has a BS and MS in Mechanical Engineering from Santa Clara University and years
                        of
                        experience as a professional instructor and trainer for Data Science, Machine Learning and
                        Python
                        Programming. He has publications and patents in various fields such as microfluidics,
                        materials
                        science,
                        and data science. Over the course of his career he has developed a skill set in analyzing
                        data
                        and
                        he
                        hopes to use his experience in teaching and data science to help other people learn the
                        power of
                        programming, the ability to analyze data, and the skills needed to present the data in clear
                        and
                        beautiful visualizations.</div>
                    <div class="data">
                        Currently he works as the Head of Data Science for Pierian Training and
                        provides in-person data science
                        and python programming training courses to employees working at top companies, including
                        General
                        Electric, Cigna, The New York Times, Credit Suisse, McKinsey and many more. Feel free to
                        check out the
                        website link to find out more information about training offerings.
                    </div>
                    <button class="collapsible"><span>Expand</span> <i
                            class="fa-solid fa-chevron-down"></i></button><br>
                </div> <!-- end column -->
            </div>

            <div class="bio">
                <div class="initials">Jeon Jungkook <button class="start">Follow</button></div>
                <h4>Professional Software Engineer | SW Architect | Instructor</h4>
                <div class="container">
                    <img src="Elements/image 11.png">
                    <div class="column">
                        <p><i class="fa-solid fa-star"></i></p>
                        <p><i class="fa-solid fa-medal"></i></p>
                        <p><i class="fa-solid fa-user-group"></i></p>
                        <p><i class="fa-solid fa-circle-play"></i></p>
                    </div>
                    <div class="column">
                        <p>4,9 rating</p>
                        <p>968 968 feedbacks</p>
                        <p>3 103 951 students</p>
                        <p>57 courses</p>
                    </div>
                </div> <!-- end container -->

                <div class="teacher__info">
                    <div>Jeon Jungkook is an experienced software engineer and software architect.
                        In his professional career, he has developed numerous flagship products and has worked on
                        cutting-edge solutions and technologies for companies like Google, Intel, and many others.
                        He is primarily interested in real-time and high-scale software and demonstrated his
                        technical leadership skills working at many leading companies in their fields.</div>

                    <div class="data">
                        He is also programming language and technology agnostic and his teaching
                        methods
                        emphasize
                        understanding the core fundamentals and developing the right way of thinking and good
                        practices.
                        His passion for technology made him a good mentor for other engineers and students, and
                        he
                        is excited to share his knowledge and experience here at Spikizy.
                    </div>
                    <button class="collapsible"><span>Expand</span> <i
                            class="fa-solid fa-chevron-down"></i></button><br>
                </div>

            </div><!-- end column -->
        </div>

        </div> <!-- end row -->

    </section> <!-- end teachers -->

    <!-- skills
    ================================================= -->

    <section id="skills">
        <div class="row">
            <div class="skills__wrapper">
                <h3 class="heading">Skills</h3>
                <div class="skills__items">
                    <div class="skills__item">
                        Branding
                    </div>
                    <div class="skills__item">
                        Marketing
                    </div>
                    <div class="skills__item">
                        Network Branding
                    </div>
                    <div class="skills__item">
                        Bussiness
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- skills
    ================================================= -->

    <section id="ratings">

        <div class="row">

            <div class="ratings__wrapper">

                <h3 class="heading">Ratings <span class="rates">(1376 reviews)</span></h3>
                <div class="ratings__items">

                    <div class="ratings__item">
                        <div class="column">
                            <div class="ratings__item-avatar"><img src="Elements/image 10.png" alt=""></div>
                            <div class="ratings__item-name">OvuWave Osas</div>
                        </div>
                        <div class="column">
                            <div class="container">
                                <div class="ratings__item-stars"><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                                <div class="ratings__item-date">Posted 4 days ago</div>
                            </div>
                            <hr class="ratings__divider">
                            <div class="ratings__item-text">It was excellent class</div>
                        </div>
                    </div>

                    <div class="ratings__item">
                        <div class="column">
                            <div class="ratings__item-avatar"><img src="Elements/image 10.png" alt=""></div>
                            <div class="ratings__item-name">OvuWave Osas</div>
                        </div>
                        <div class="column">
                            <div class="container">
                                <div class="ratings__item-stars"><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                                <div class="ratings__item-date">Posted 4 days ago</div>
                            </div>
                            <hr class="ratings__divider">
                            <div class="ratings__item-text">It was excellent class</div>
                        </div>
                    </div>

                    <div class="ratings__item">
                        <div class="column">
                            <div class="ratings__item-avatar"><img src="Elements/image 10.png" alt=""></div>
                            <div class="ratings__item-name">OvuWave Osas</div>
                        </div>
                        <div class="column">
                            <div class="container">
                                <div class="ratings__item-stars"><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                                <div class="ratings__item-date">Posted 4 days ago</div>
                            </div>
                            <hr class="ratings__divider">
                            <div class="ratings__item-text">It was excellent class</div>
                        </div>
                    </div>

                    <div class="ratings__item">
                        <div class="column">
                            <div class="ratings__item-avatar"><img src="Elements/image 10.png" alt=""></div>
                            <div class="ratings__item-name">OvuWave Osas</div>
                        </div>
                        <div class="column">
                            <div class="container">
                                <div class="ratings__item-stars"><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                                <div class="ratings__item-date">Posted 4 days ago</div>
                            </div>
                            <hr class="ratings__divider">
                            <div class="ratings__item-text">It was excellent class</div>
                        </div>
                    </div>

                </div> <!--end items-->

                <button class="ratings__more">See more reviews</button>

            </div> <!--end wrapper-->

        </div> <!--end row-->

    </section> <!--end ratings-->

    <!-- courses
   ================================================== -->

    <section id="courses">

        <div class="row">
            <h3 class="heading">Related classes</h3>

            <a href="" class="container">

                <img src="Elements/200.jpg">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <div class="courses__text">4.5<i class="fa-solid fa-star"></i></div>
                    <div class="courses__text">10.5k Learners</div>
                </div><!-- end column -->


            </a><!-- end container -->

            <a href="" class="container">

                <img src="Elements/200.jpg">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <div class="courses__text">4.5<i class="fa-solid fa-star"></i></div>
                    <div class="courses__text">10.5k Learners</div>
                </div><!-- end column -->


            </a><!-- end container -->

            <a href="" class="container">

                <img src="Elements/200.jpg">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <div class="courses__text">4.5<i class="fa-solid fa-star"></i></div>
                    <div class="courses__text">10.5k Learners</div>
                </div><!-- end column -->


            </a><!-- end container -->

            <a href="" class="container">

                <img src="Elements/200.jpg">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <div class="courses__text">4.5<i class="fa-solid fa-star"></i></div>
                    <div class="courses__text">10.5k Learners</div>
                </div><!-- end column -->


            </a><!-- end container -->

            <a href="" class="container">

                <img src="Elements/200.jpg">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <div class="courses__text">4.5<i class="fa-solid fa-star"></i></div>
                    <div class="courses__text">10.5k Learners</div>
                </div><!-- end column -->


            </a><!-- end container -->

            <a href="" class="container">

                <img src="Elements/200.jpg">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <div class="courses__text">4.5<i class="fa-solid fa-star"></i></div>
                    <div class="courses__text">10.5k Learners</div>
                </div><!-- end column -->


            </a><!-- end container -->

            <a href="" class="container">

                <img src="Elements/200.jpg">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <div class="courses__text">4.5<i class="fa-solid fa-star"></i></div>
                    <div class="courses__text">10.5k Learners</div>
                </div><!-- end column -->


            </a><!-- end container -->

            <a href="" class="container">

                <img src="Elements/200.jpg">

                <div class="column">
                    <h5>Machine Learning</h5>
                    <div class="courses__text">4.5<i class="fa-solid fa-star"></i></div>
                    <div class="courses__text">10.5k Learners</div>
                </div><!-- end column -->


            </a><!-- end container -->


        </div> <!-- end row -->

    </section><!-- end learn -->

    <!-- footer
    ================================================== -->
    <footer>

        <div class="row">

            <div class="logo">
                <div class="logo__circle">
                    SZ
                </div>
                <span class="logo__text">Spikizy</span>
            </div>

            <div class="footcon">

                <div class="column">

                    <div>
                        <p>Contact Us</p>
                    </div>

                    <div>
                        <p><span>Call : +7 708 312 0160<br>
                                Praesent nulla massa, hendrerit<br>
                                vestibulum gravida in, feugiat auctor felis.<br>
                                Email: mielesenn@gmail.com</span></p>
                    </div>
                    <div class="container">
                        <a href="" class="socials"><i class="fa-brands fa-instagram"></i></a>
                        <a href="" class="socials"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="" class="socials"><i class="fa-brands fa-telegram"></i></a>
                        <a href="" class="socials"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>

                </div> <!-- end column -->

                <div class="column">

                    <div>
                        <p>Explore</p>
                    </div>

                    <div>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Course</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>

                </div><!-- end column -->

                <div class="column">

                    <div>
                        <p>Category</p>
                    </div>

                    <div>
                        <ul>
                            <li><a href="">Design</a></li>
                            <li><a href="">Development</a></li>
                            <li><a href="">Marketing</a></li>
                            <li><a href="">Business</a></li>
                            <li><a href="">Lifestyle</a></li>
                            <li><a href="">Photography</a></li>
                            <li><a href="">Music</a></li>
                        </ul>
                    </div>

                </div> <!-- end column -->

                <div class="column">

                    <div>
                        <p>Subscribe</p>
                    </div>

                    <div>
                        <p><span>Lorem Ipsum has been them an industry<br>
                                printer took a galley make book.</span></p>
                    </div>
                    <form id="contact">
                        <input type="text" id="contactform" placeholder="Email here">
                        <button>Subcribe Now</button>
                    </form>

                </div> <!-- end column -->

            </div> <!-- end footcon -->

        </div> <!-- end row -->

    </footer>

</body>

</html>